
<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <style>
        body {
            background-color: #fefbd8;
            font-family: Verdana;
            text-align: center;
        }
      .header {
           padding: 60px;
          background: grey;
          margin-button:30;
        }
         .about {
             color:black;
             font-size: 30px;
             margin-left: 800px
      
           }
   </style>
    </head>
  <body>
    <div class="header">
      <h3> <a  class = "about" href= "/">Home</a> </h3>
</div>
  <h1>About Dataset</h1>
  <h2>Context</h2>
    <h4>This is a dataset of top 2000 universities all around the world. This dataset is based on The Center for World University Rankings (CWUR)'s 2020-21 ranking.</h4>
    <h2>Content</h2>
     <h4>CWUR uses seven objective and robust indicators to rank the world's universities:</h4>

<h4>1) Quality of Education, measured by the number of a university's alumni who have won major academic distinctions relative to the university's size (25%)</h4>
<h4>2) Alumni Employment, measured by the number of a university's alumni who have held top executive positions at the world's largest companies relative to the university's size (25%)</h4>
<h4>3) Quality of Faculty, measured by the number of faculty members who have won major academic distinctions (10%)</h4>
<h4>4) Research Performance:</h4>
<h4>i) Research Output, measured by the total number of research papers (10%)</h4>
<h4>ii) High-Quality Publications, measured by the number of research papers appearing in top-tier journals (10%)</h4>
<h4>iii) Influence, measured by the number of research papers appearing in highly-influential journals (10%)</h4>
<h4>iv) Citations, measured by the number of highly-cited research papers (10%)</h4>
  
  </body>
</html>



        